@charset "UTF-8";

body {
    background: url('/images/reserve.png') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

#td1,#td2 {
	text-align: center;
	height: 50px;
	font-size: 20px;
}

#table1,#td1,#td2,th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 20px;
}

h2 {
	font-family: 'Yeon Sung', cursive;
	font-size: 25px;
}

#td1,#td2 {
	font-family: 'Yeon Sung', cursive;
	font-size: 20px;
}

#subbtn {
    width: 100px;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    padding: 0px;
}

#subbtn:hover {
    background: #ff7b81;
}

#a1 {
    width: 100px;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    padding: 10px;
    display: block;
}
